# Workspace settings
.idea/
.vscode/

# Dotenv environment variables file
.env

# Dependency directories
node_modules/

# Build directories
build/

# Temp directories
tmp/
temp/

# SSL keys
*.crt
*.key

# Logs
logs
*.log*

# Coverage directory used by tools like jest or istanbul
coverage

# Optional eslint cache
.eslintcache