.loading-ui {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gap {
  gap: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.line-bar {
  display: flex;
  width: 100%;
}
